* {
  box-sizing: border-box;

}
.navbar {
  display: inline-block;
  width: 100%;
  overflow: auto;
  background: #64b5f6;
  color: white;
  height: auto;


}
.nav_bar-small  {
  float: right;

}

.nav_bar-right  {


}
