* {
  box-sizing: border-box;

}
.navbar {
  display: inline-block;
  width: 100%;
  overflow: auto;
  background: #64b5f6;
  color: white;

}
.nav_bar-left  {

  text-align: left;
}

.nav_bar-right  {

  text-align: right;
}
