* {
  box-sizing: border-box;


}

img {
  float: left;
  margin-left: 1rem;

}
.navbar {
  background: #64b5f6;
  color: white;
  overflow: auto;
  display: block;
}

.nav_bar_title  {
  text-align: center;
  float: left;
  margin-left: 2rem;
}
.nav_bar_text  {
  text-align: center;
  display: block;
  float: right;
  margin-right: 2rem;

}


.user-profile_parent  {
  border: 1px solid;
  float: left;
  width: calc(100% / 3 - 1rem - 1rem);
  margin: 1rem;
  text-align: center;
}

.profile-pic  {
  max-width: 20%;
}

.profile  {
  border-bottom: solid 1px;
}

.lang_dot  {
  border-radius: 50%;
  background-color: yellow;
  max-width: 10%;
}

.frame_work  {
  float: left;
  margin: 1rem;
  text-align: center;
}

.lang-name  {
  text-align: center;
  margin: 1rem;
  float: right;
}

.repos_1  {
  text-align: center;
  display: block;
  overflow: auto;
  border-bottom: solid 1px;

}

.repos_2  {
  text-align: center;
  display: block;
  overflow: auto;
}
